$white-color:#fff;
$bb-facebook-icon-hover-color:#3451ae;
$bb-google-plus-hover-color:#d83e2e;
$bb-twitter-hover-color:#01c4fc;
$bb-youtube-hover-color:#c60505;
$headermenu-social-icons-background : #1A6C8A;
$header-background : #00aced;
$headermenu-bg-hover-color: #2e2e2e;
$headermenu-background:#343434;
$headermenu-item-border-bottom-color:#01abec;
$sticky-lable-bg:#e08729;