.bbmain{
	.bb-header{		
	}
	.bb-content{
		.tile-title{
		  position: absolute;
		  bottom: 0;
		  font-family: Questrial;
		  font-size: 18px !important;
		  height: 64px;
		  font-weight: bold;
		  line-height: 22px;
		  vertical-align: middle;
		  padding: 10px;
		  color: $white-color;
		  display: table;
		}
		.date-edit{
			font-size: 10px;
		}
		.views-messages{
			font-size: 10px;
			padding-right: 30px;
		}
		.recentposts-title{
			  font-family: Questrial;
			  font-size: 18px;
			  line-height: 22px;
			  margin-top: 6px;
		}
		.lable-title{
			font-family: Questrial;
			  font-size: 14px;
			  position: absolute;
  			  margin-top: -12%;
  			  padding: 4px 8px 4px 15px;
			  background: $sticky-lable-bg;
			  a{
			   color: $white-color !important;
			  }
		}
		.social-icon-rightside-section{
			padding: 2px;
		}
		.social-icon-rightside{
			background: $header-background;
			padding-top:10px;
			padding-bottom: 10px;
			color:$white-color;
			.social-icon{
				font-size: 30px;
				font-weight: bolder;
			}
			.number{
				font-size: 25px;
			}
			.text{
				font-size: 15px;
			}
		}
	}
}
/**/

/* Large desktop */
@media (min-width: 1200px) { 
	.bbmain{
		.bb-header{
		}
		.bb-content{
		}
		.bb-footer{
		}
	}
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 992px) {
	.bbmain{
		.bb-header{
		}
		.bb-content{
		}
		.bb-footer{
		}
	}
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.bbmain{
		.bb-header{
		}
		.bb-content{
		}
		.bb-footer{
		}
	}
}
/* Landscape phones and down */
@media (max-width: 480px) {
	.bbmain{
		.bb-header{
		}
		.bb-content{
		}
		.bb-footer{
		}
	}
}
