.bb-mystory {
    .bb-header {}
    .bb-content {
        .bb-title {
            font-size: 1.8rem;
            color: #4d4d4d;
        }
        .bb-sub-title {
            background: #e7c01d;
            padding: 3px 5px;
            color: #fff;
        }
        .bb-title-text {
            position: absolute;
            color: #fff !important;
            top: 7em;
        }
    }
}
/**/
/* Large desktop */

@media (min-width: 1200px) {
    .mystory {
        .bb-header {}
        .bb-content {}
        .bb-footer {}
    }
}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 992px) {
    .mystory {
        .bb-header {}
        .bb-content {}
        .bb-footer {}
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    .mystory {
        .bb-header {}
        .bb-content {}
        .bb-footer {}
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {
    .mystory {
        .bb-header {}
        .bb-content {}
        .bb-footer {}
    }
}
