<div class="bb-header clearfix" >
	<div class="bb-header-social-icons-div clearfix">
		<div class="col-sm-5">
			<i class="fa fa-google-plus fa-1x bb-google-plus-square"></i>
			<i class="fa fa-facebook fa-1x bb-facebook-icon"></i>
			<i class="fa fa-twitter fa-1x bb-twitter"></i>
			<i class="fa fa-youtube fa-1x bb-youtube-square"></i>
		</div>
		<div class="text-center col-sm-1">
		    <div role="tab" id="headingOne">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
		          <i class="fa fa-search fa-1x bb-search-icon"></i>
		        </a>
		    </div>
		</div>
	</div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <input type="search" class="col-sm-12 bb-search text-center" placeholder="Enter Search keyword"/>
      </div>
    </div>
	<div class="bb-header-section-2">
		<div class="text-center"><img src="images/Web-header-try4.png"></div>
	</div>
	<div class="bb-header-menu-items">
		<ul class="text-center">
	      <li ng-class="getClass('/home')"><a href="#/home">HOME</a></li>
	      <li ng-class="getClass('/news')"><a href="#/news">NEWS</a></li>
	      <li ng-class="getClass('/storyfeed')"><a href="#/storyfeed">STORY FEED</a></li>
	      <li ng-class="getClass('/mystory')"><a href="#/mystory">MY STORY</a></li>
	      <li ng-class="getClass('/submit')"><a href="#/submit">SUBMIT</a></li>
	      <li ng-class="getClass('/events')"><a href="#/events">EVENTS</a></li>
	      <li ng-class="getClass('/contactus')"><a href="#/contactus">CONTACT US</a></li>
	    </ul>
	</div>
</div>
