<div class="bb-header clearfix" >
	<div class="bb-header-social-icons-div clearfix">
		<div class="col-sm-5">
			<i class="fa fa-google-plus fa-1x bb-google-plus-square"></i>
			<i class="fa fa-facebook fa-1x bb-facebook-icon"></i>
			<i class="fa fa-twitter fa-1x bb-twitter"></i>
			<i class="fa fa-youtube fa-1x bb-youtube-square"></i>
		</div>
		<div class="text-center col-sm-1">
		    <div role="tab" id="headingOne">
		        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
		          <i class="fa fa-search fa-1x bb-search-icon"></i>
		        </a>
		    </div>
		</div>
	</div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <input type="search" data-ng-model="header.searchText" class="col-sm-12 bb-search text-center" id="searchInput" placeholder="Search here" data-ng-change="fnGetSearchResults()"/>
        <span data-ng-show="header.showLoader" class="search-loader"><img src="images/loader.gif"></span>
      </div>
    </div>
    <div data-ng-show="header.searchText.length>0" class="col-sm-12 bb-header-results-wrapper">
	    <div class="row bb-header-results" data-ng-show="header.searchItems.length > 0">
		    <div class="col-sm-12 list-section">
		    	<div data-ng-repeat="items in header.searchItems" class="col-sm-3">	
		    		<div class="row">
		    			<img ng-src="{{items.image}}" class="col-sm-12"/>
			    		<div class="col-sm-12">
			    			<h5 class="topic-info"><span data-ng-bind="items.info"></span></h5>
			    		</div>
		    		</div>	    		
		    	</div>
		    </div>
		    <div class="col-xs-12 text-center show-more-label">
		    	MORE ITEMS
		    </div>
	    </div>
	    <div class="row zero-results-section" data-ng-show="header.searchItems.length == 0">
	    	<div class="col-xs-12 text-center zero-results-label"> 0 RESULTS</div>
	    </div>
    </div>
	<div class="bb-header-section-2 clearfix">
		<div class="text-center"><img src="images/Web-header-try4.png"></div>
	</div>
	<div class="bb-header-menu-items col-sm-12 paading-zero" data-ng-mouseenter ="showMainMenuContent=true;" data-ng-mouseleave ="showMainMenuContent=false;">
		<ul class="text-center">
	      <li ng-class="getClass('/home')"><a href="#/home">HOME</a></li>
	      <li ng-class="getClass('/news')"><a href="#/news">NEWS</a></li>
	      <li ng-class="getClass('/storyfeed')"><a href="#/storyfeed">STORY FEED</a></li>
	      <li ng-class="getClass('/mystory')"><a href="#/mystory">MY STORY</a></li>
	      <li ng-class="getClass('/submit')"><a href="#/submit">SUBMIT</a></li>
	      <li ng-class="getClass('/events')"><a href="#/events">EVENTS</a></li>
	      <li ng-class="getClass('/contactus')"><a href="#/contactus">CONTACT US</a></li>
	    </ul>
	    <div class="bb-header-menu-hover-content" data-ng-show="showMainMenuContent" >
	    	<div class="col-sm-3 paading-zero" data-ng-repeat ="item in mainItems">
  				<img src="{{item.img}}" class="img-responsive col-sm-12">
	    		<p data-ng-bind="item.content" class="text-center"></p>
	    	</div>
	    </div>
	</div>
</div>
