<div class="bb-mystory">
    <div class="col-sm-12 bb-content">
        <h1 class="bb-title">My Story</h1>
        <div>
            <span class="bb-sub-title">Home to those amazing #MyStory posts!</span>
        </div>
        <p class="clearfix" />
        <div class="col-sm-8">
            <div class="col-sm-6" data-ng-repeat="obj in mystoryData">
                <img src="{{obj.imgurl}}" class="img-responsive" />
                <h3><a class="bb-title-text" href="#" title="{{obj.title}}" data-ng-bind="obj.title"></a></h3>
            </div>
        </div>
        <div class="col-sm-2 col-xs-4 text-center social-icon-rightside-section" data-ng-repeat="i in [1,2,3,4,5,67]">
          <div class="social-icon-rightside">
            <i class="fa fa-facebook social-icon"></i>
            <div class="number">12345</div>
            <div class="text">likes</div>
          </div>
        </div>
        <p class="clearfix"/>
    </div>
</div>
